img{
width:300px;
height:200px;
}

.callout1{
background-color: lightcyan;
}
.warning1{

color: lightcoral;
}
.blue{
background: blue;
}
img{
  width:300px;
  height:200px;
}

.del {
  height: 40px;
  width: 40px;
}
#del2 {
  height: 50px;
  width: 45px;
}
